* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(212, 212, 212);
    display: flex;
    padding: 5px;
	flex-direction: column;
	min-height: 100vh;
    transition: 0.4s;
}
main{
    margin: 0% 5% 0% 5%;
}
h1{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

input{
    outline: none;
    background-color: white ;
    border: 1px solid #ddd; 
    min-width: 15%;
    min-height: 70%;
    border-radius: 20px;
}
#taskSubmit{
    border-radius: 50px;
    min-width: 22%;
    font-size: 1.4rem;
    background-color: #6664ff;
    color: white;
    box-shadow: 2px;
    font-weight: bold;
    cursor: pointer;
}
#taskSubmit:hover{
    opacity: 0.7;
}

#newTaskForm{
    display: grid;
    align-items: center;
    width: 400px;
    max-width: 100%;
    min-height: 500px;
    margin: 20px auto 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.taskList{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
}
h2{
    font-size: 1.5rem;
}
/*.tasksContainer{
    border: 1px solid #eee;
    border-radius: 10px;

    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
}*/

.task{
    display: grid;
    padding: 1%;
}
.content{
    display: grid;
    align-items: center;
    width: 400px;
    max-width: 100%;
    min-height: 350px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.text{
    width: 70%;
    display: block;
    transition: 0.4s;
    outline: none;
    background: none;
}
button{
    outline: none;
    background: none;
    appearance: none;
    border: none;
    padding: 5px;
}
button:hover{
    opacity: 0.5;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.edit{
    text-transform: uppercase;
    color: rgb(33, 209, 142);
    font-size: 16px;
}
.delate{
    text-transform: uppercase;
    color: crimson;
    font-size: 16px;
}