@font-face {
    font-family: AmaticSC-Bold;
    src: url(../fonts/AmaticSC-Bold.ttf);
}

* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    background-color: rgb(212, 212, 212);
    display: flex;
    padding: 5px;
	flex-direction: column;
	min-height: 100vh;
    transition: 0.4s;
}
main{
    margin: 0% 5% 0% 5%;
}
h1{
    font-family: AmaticSC-Bold;
    font-size: 2.6rem;
    margin-bottom: 1rem;
    margin-top: 5%;
}

input{
    outline: none;
    background-color: white ;
    border: 1px solid #ddd; 
    min-width: 15%;
    min-height: 70%;
    border-radius: 20px;
}
label{
    font-weight: bold;
}
#taskSubmit{
    border-radius: 50px;
    min-width: 22%;
    font-size: 1.4rem;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    color: white;
    box-shadow: 2px;
    font-weight: bold;
    cursor: pointer;
}
#taskSubmit:hover{
    opacity: 0.7;
}

#modSubmit{
    border-radius: 50px;
    min-width: 22%;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    color: white;
    box-shadow: 2px;
    font-weight: bold;
    cursor: pointer;
}
#modSubmit:hover{
    opacity: 0.7;
}

#newTaskForm{
    display: grid;
    align-items: center;
    width: 400px;
    max-width: 100%;
    min-height: 500px;
    margin: 20px auto 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.taskList{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    z-index: -1;
}
h2{
    font-family: AmaticSC-Bold;
    font-size: 2.2rem;
}
.view{
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    color: #6fa6ff;
    border: none;
    background-color: #f4f7fc;
}
.viewStatus{
    font-size: 18px;
    outline: none;
    color: #6fa6ff;
}

.task{
    display: grid;
    padding: 1rem;
}
.content{
    display: grid;
    align-items: center;
    width: 400px;
    max-width: 100%;
    min-height: 350px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    background-image: url(../img/papel.jpg);
    transition: 0.4s;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.text{
    width: 70%;
    display: block;
    transition: 0.4s;
    outline: none;
    background: none;
}
button{
    outline: none;
    background: none;
    appearance: none;
    border: none;
    padding: 5px;
}
button:hover{
    opacity: 0.5;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.edit{
    text-transform: uppercase;
    color: rgb(33, 209, 142);
    font-size: 16px;
}
.delate{
    text-transform: uppercase;
    color: crimson;
    font-size: 16px;
}

#btnScrollUp{
    position: fixed;
    font-size: 2rem;
    background-color: #FA8072 ;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 50px;
    left: 95%;
    z-index: 1;
    cursor: pointer;
}